<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee View Form</title>

</head>
<body>

	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">
	
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
				<h4>Employee Details</h4>
			</div>
			
			<div class="card-body">
			
			<form th:object="${empModel}">
			
				<div class="row p-2">
					<div class="col-4">First Name</div>
					<div class="col-6">
						<input type="text" th:field="*{fname}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Last Name</div>
					<div class="col-6">
						<input type="text" th:field="*{lname}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Gender</div>
					<div class="col-6">
						<input type="radio" th:field="*{gender}" disabled="disabled" value="male"> Male
						<input type="radio" th:field="*{gender}" disabled="disabled" value="female"> Female
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">DOB</div>
					<div class="col-6">
						<input type="date" th:field="*{dob}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Phone</div>
					<div class="col-6">
						<input type="text" th:field="*{phone}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Email</div>
					<div class="col-6">
						<input type="email" th:field="*{email}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Country</div>
					<div class="col-6">
						<select th:field="*{address.country}" disabled="disabled" class="form-control">
						
						<option value="">Select</option>
						<option value="Nepal">Nepal</option>
						<option value="India">India</option>
						<option value="China">China</option>
						<option value="USA">USA</option>
						
						</select>
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">State</div>
					<div class="col-6">
						<input type="text" th:field="*{address.state}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">City</div>
					<div class="col-6">
						<input type="text" th:field="*{address.city}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Zip Code</div>
					<div class="col-6">
						<input type="text" th:field="*{address.zipcode}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Company Name</div>
					<div class="col-6">
						<input type="text" th:field="*{company}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Join Date</div>
					<div class="col-6">
						<input type="date" th:field="*{joinDate}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Department</div>
					<div class="col-6">
						<select th:field="*{department}" disabled="disabled" class="form-control">
							
							<option value="">Select</option>
							
							<option th:each = "dept : ${deptList}" th:value = "${dept.id}"> [[${dept.dept_name}]] </option>
							
						</select>
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Post</div>
					<div class="col-6">
						<input type="text" th:field="*{post}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Salary</div>
					<div class="col-6">
						<input type="text" th:field="*{salary}" readonly="readonly" class="form-control">
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Projects</div>
					<div class="col-6">
						<input type="checkbox" th:field="*{projects}" disabled="disabled" value="project_1"> Project 1
						<input type="checkbox" th:field="*{projects}" disabled="disabled" value="project_2"> Project 2
						<input type="checkbox" th:field="*{projects}" disabled="disabled" value="project_3"> Project 3
						<input type="checkbox" th:field="*{projects}" disabled="disabled" value="project_4"> Project 4
						<input type="checkbox" th:field="*{projects}" disabled="disabled" value="project_5"> Project 5
					</div>
				</div>
				
			</form>
			
			<div class="row p-2">
					<div class="col-4"></div>
					<div class="col-6">
						<a href="/employee/list"> <input type="submit" value="Back" class="btn btn-success btn-sm"> </a>
					</div>
				</div>
			
			</div>
			
			<div class="card-footer text-center bg-warning"><h6>copyright@2023</h6></div>
		</div>
	
	</div>

</body>
</html>